name: Packer Build (on dispatch)

on:
  workflow_dispatch:
    inputs:
      path:
        description: 'Pfad zum Packer-Projekt (z.B. harvester/packer/ubuntu25)'
        required: true
        default: 'harvester/packer/ubuntu25'

jobs:
  packer-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Packer
        uses: hashicorp/setup-packer@v3
        with:
          version: latest

      - name: Run packer init
        working-directory: ${{ github.event.inputs.path }}
        run: packer init .

      - name: Run packer build
        working-directory: ${{ github.event.inputs.path }}
        run: packer build .
